.Output
  height 100%
  width 50%
  position absolute
  top 0
  right 0
  display flex
  justify-content center
  align-items center
  
  canvas
    background $palette-7
    image-rendering pixelated

