@keyframes pulse {
  0% { opacity: 0; }
  49.9% { opacity: 0; }

  50% { opacity: 1; }
  99.9% { opacity: 1; }

  100% { opacity: 0; }
}

.TerminalInput
  position relative
  margin 1em 0 0 0
  .display
    border none
    background none
    color $terminal-text-bold
    // @extend .VT323
    font-size 1em
    width 100%
    .caret
      animation-name pulse
      animation-duration 2s
      animation-iteration-count infinite
    .hide
      visibility hidden
  .control
    opacity 0
    position absolute

