@require 'utils/*.styl'
@require 'components/*.styl'

*
  box-sizing border-box

html
  background $terminal-background

body
  margin 0
  padding 0
  overflow hidden

.App
  position absolute
  width 100%
  height 100%
